<div class=container>
  <div class="row">
      <div class="col-12">
          <div class="service__slider">
              <div class="d-flex justify-content-center">
                  <div >
                      <div class="icon-background" style="text-align:center;">

                      </div>
                      <div >
                      <a class="widget" href="https://www.thumbtack.com/tx/allen/video-editors/novacore-web-design-hosting/service/442091988249485313" target="_blank">
                       <img style="height: 192px; width: 192px;" src="https://cdn.thumbtackstatic.com/fe-assets-web/media/pages/profile/standard-widgets/pro-svg/orange/2022.svg" />
                       <script src="https://www.thumbtack.com/profile/widgets/scripts/?service_pk=442091988249485313&widget_id=profile"></script>
                       </a>
                       </div>
                  </div>

              </div>
              <div class="d-flex justify-content-center">
                  <div >
                      <div class="icon-background">

                      </div>
                      <div  ><a href="https://www.trustpilot.com/review/novacore.info" target="_blank" rel="noopener"><img  style="vertical-align:middle;"height="100px"src="images/logos/trustpilot.png"/></a></div>

                  </div>

              </div>
              <div class="d-flex justify-content-center">
                  <div >
                      <div class="icon-background">

                      </div>
                      <div><a href="https://g.page/r/Cesc2iNY-i13EAE" target="_blank"><img  style="vertical-align:middle;"height="100px"src="images/logos/google-reviews.png"/></a></div>

                  </div>

              </div>
              <div class="d-flex justify-content-center">
                  <div >
                      <div class="icon-background">

                      </div>
                      <div ><img  style="vertical-align:top;"height="192px"src="images/logos/agency-vista.jpeg"/></div>

                  </div>

              </div>

          </div>
      </div>
  </div>
